
ACME_Accounting/ACME_Accounting/.vs/ACME_Accounting/v16/.suo
ACME_Accounting/ACME_Accounting/.vs/ACME_Accounting/v16/.suo
Car_Insurance_Approval/CarInsuranceApproval/.vs/CarInsuranceApproval/DesignTimeBuild/.dtbcache.v2
ACME_Accounting/ACME_Accounting/.vs/ACME_Accounting/v16/.suo
Car_Insurance_Approval/CarInsuranceApproval/.vs/CarInsuranceApproval/v16/.suo
Car_Insurance_Approval/CarInsuranceApproval/CarInsuranceApproval/obj/Debug/netcoreapp3.1/CarInsuranceApproval.csproj.AssemblyReference.cache
Income_Comparison_Program/IncomeComparisonProgram/.vs/IncomeComparisonProgram/DesignTimeBuild/.dtbcache.v2
ACME_Accounting/ACME_Accounting/.vs/ACME_Accounting/v16/.suo
Car_Insurance_Approval/CarInsuranceApproval/.vs/CarInsuranceApproval/v16/.suo
Car_Insurance_Approval/CarInsuranceApproval/CarInsuranceApproval/obj/Debug/netcoreapp3.1/CarInsuranceApproval.csproj.AssemblyReference.cache
Car_Insurance_Approval/CarInsuranceApproval/CarInsuranceApproval/Program.cs
Daily_Report/DailyReport/.vs/DailyReport/v16/.suo
Income_Comparison_Program/IncomeComparisonProgram/.vs/IncomeComparisonProgram/v16/.suo
ACME_Accounting/ACME_Accounting/.vs/ACME_Accounting/v16/.suo
ACME_Accounting/ACME_Accounting/.vs/ACME_Accounting/v16/.suo
ACME_Accounting/ACME_Accounting/.vs/ACME_Accounting/v16/.suo
Car_Insurance_Approval/CarInsuranceApproval/.vs/CarInsuranceApproval/v16/.suo
Car_Insurance_Approval/CarInsuranceApproval/CarInsuranceApproval/Program.cs
ACME_Accounting/ACME_Accounting/.vs/ACME_Accounting/v16/.suo
Car_Insurance_Approval/CarInsuranceApproval/.vs/CarInsuranceApproval/v16/.suo
Car_Insurance_Approval/CarInsuranceApproval/.vs/CarInsuranceApproval/v16/.suo
Car_Insurance_Approval/CarInsuranceApproval/CarInsuranceApproval/obj/Debug/netcoreapp3.1/CarInsuranceApproval.csproj.AssemblyReference.cache
Car_Insurance_Approval/CarInsuranceApproval/CarInsuranceApproval/Program.cs
Daily_Report/DailyReport/.vs/DailyReport/v16/.suo
Income_Comparison_Program/IncomeComparisonProgram/.vs/IncomeComparisonProgram/v16/.suo
